.button {
    border-radius: 1.0625rem;
    border: #ED8895;
    background: var(--secondary, #ED8895);
    color: #FDFDFD;
    text-align: right;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1rem;
    padding: 3px;
}