@use "../../styles/partials/colors.scss"as *;
@use "../../styles/partials/mixins.scss"as *;

.header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;

  &__profile {
    width: 50px;
    height: 50px;
    // align-items: center;
    background-color: $secondary-background;
    border-radius: 50%;
  }

  &__logo {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    //   background-color: $secondary-background;
    //   border-radius: 50%;
  }

  &__left {
    display: flex;
    gap: 1rem;
  }

  //   &__svg {
  //     height: 50%;
  //     width: 20%;
  //   }
}